#navbar{
    width: 100%;
    height: 100px;
    text-align: left;
    font-family: Verdana, sans-serif;
    background: -webkit-linear-gradient(top, #fefcea 0%,#efeac6 100%);
}
body{
    background-color: #f4ffd9;
}